.display{
    font-size: 30px;
    border: 5px;
    margin: 5px;
    padding: 3px;
    
    background-color: white;
    border-style: solid;
    border-color: black;
}

.container {
    background-color: white;
    margin: 0;
    border: 0;
    padding: 0;
    height: 100vh;
    width: 100vh;
} 

.calculator{
    background-color: lightgrey;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.numbers{
    border: 3px;
    margin: 3px;
} 

.numbers button {
    background-color: blue;
    color: white;
    width: 35px;
    height: 35px;
    font-size: 25px;
}

.operations{
    border: 3px;
    margin: 3px;
}

.operations button {
    background-color: coral;
    color: white;
    font-size: 30px;
    width: 40px;
    height: 40px;
}

.summary{
    border: 3px;
    margin: 3px;
}
.summary button{
    background-color: coral;
    color: white;
    font-size: 30px;
    
} 